@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {

  .h-100 {
    height: 100px;
  }
  .h-108 {
    height: 108px;
  }
  .h-200 {
    height: 200px;
  }
  .h-300 {
    height: 300px;
  }
  .h-308 {
    height: 308px;
  }
  .w-100 {
    width: 100px;
  }
  .w-200 {
    width: 200px;
  }
  .w-208 {
    width: 208px;
  }
  .w-300 {
    width: 300px;
  }
  .w-308 {
    width: 308px;
  }  
}